<h1>About Robin's Nest</h1>
<p>Welcome to the Robin's Nest, where the firm belief is strictly held that all sandwiches are NOT created equal. Salt Lake City local and native Robin Paluso has brought to downtown --and put her on--an awe-inspiringly unique (yet still familiar) favorite American lunch cuisine... The Sandwich.</p>

<p>By using only the best ingredients and having practiced the culinary arts for years, Robin has founded right in downtown Salt Lake City her ideal for this American favorite.</p>

<p>The Robin's Nest is proud to say there are loyal devotees to virtually every sandwich on the menu. "You can taste the difference" is a common remark from first-time customers.</p>

<p>There are many now-famous sandwiches like the Rooster Call, Robin's spin on a classic Southern chicken salad recipe: all white meat chicken breast, red grapes, cashews, provolone cheese, and Robin's sweet honey dijon on italian ciabatta. In reading, for some, it's a shock to the eyes-but invariably becomes a revelation to the taste buds.</p>

<p>Or the Cowboy, with is prime medium roast beef, fresh tomatoes, red onions, pickles, organic leaf lettuce, melted swiss cheese and Robin's homemade sun-dried tomato and horseradish spread on marble rye. It's just as hearty and delicious as it sounds.</p>

<p>There is something for everyone--our natural sandiwch is lauded by locals as the 'best veggie sandwich in the city,' and we were given that award by CityWeekly in 2011. The Robin's Nest serves zero trans-fats or msg and the majority of the produce is organic.</p>

<p>We offer catering, delivery, dine-in or take-out. Our hours are M-F 10:30 am to 4:00 pm, and we accept all major credit cards.</p>
