<h1>Catering Menu</h1>
<div>
  <div class="row valign-wrapper">
    <div class="col s7">
      <h5>Box Lunches</h5>
    </div>
    <div class="col s1"></div>
    <div class="col s2">
      <h6>Half</h6>
    </div>
    <div class="col s2">
      <h6>Whole</h6>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>Any sandwich, orzo pasta salad, bag of chips, and a fresh-baked cookie</h6>
    </div>
    <div class="col m1 l1"></div>
    <div class="col s6 m2 l2">
      <h7>$9.25 pp</h7>
    </div>
    <div class="col s6 m2 l2">
      <h7>$11.75 pp</h7>
    </div>
  </div>
  <br />
  <div class="row valign-wrapper">
    <div class="col s7">
      <h5>Group Green Salads</h5>
    </div>
    <div class="col s1"></div>
    <div class="col s2">
      <h6>Side</h6>
    </div>
    <div class="col s2">
      <h6>Whole</h6>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>The Nutty Flora - fresh mixed greens, red onions, sweet red grapes, smoked gouda, candied walnuts, served with Robin's special cherry vinaigrette</h6>
    </div>
    <div class="col m1 l1"></div>
    <div class="col s6 m2 l2">
      <h7>$3.00 pp</h7>
    </div>
    <div class="col s6 m2 l2">
      <h7>$8.00 pp</h7>
    </div>
  </div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>The Papa - fresh mixed greens, ripe tomato, sweet red onions, artichoke hearts, marinated mushrooms, black olives, parmesan cheese served with Robin's homemade balsamic vinaigrette</h6>
    </div>
    <div class="col m1 l1"></div>
    <div class="col s6 m2 l2">
      <h7>$3.00 pp</h7>
    </div>
    <div class="col s6 m2 l2">
      <h7>$8.00 pp</h7>
    </div>
  </div>
  <br />
  <div class="row valign-wrapper">
    <div class="col s7">
      <h5>Soup and Sandwich Luncheon</h5>
    </div>
    <div class="col s1"></div>
    <!-- <div class="col s2">
      <h6>Side</h6>
    </div> -->
    <div class="col s4">
      <h6>Half Soup Half Salad</h6>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>Food for everyone, including breadsticks</h6>
    </div>
    <div class="col m1 l1"></div>
    <!-- <div class="col s6 m2 l2">
      <h7>$3.00 pp</h7>
    </div> -->
    <div class="col s6 m4 l4">
      <h7>$8.25 pp</h7>
    </div>
  </div>
  <br />
  <div class="row valign-wrapper">
    <div class="col s7">
      <h5>Platter Lunches</h5>
    </div>
    <div class="col s1"></div>
    <div class="col s2">
      <h6>Quarter Sandwiches</h6>
    </div>
    <div class="col s2">
      <h6>Half Sandwiches</h6>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>Perfect for larger parties!</h6>
    </div>
    <div class="col m1 l1"></div>
    <div class="col s6 m2 l2">
      <h7>$3.00 pp</h7>
    </div>
    <div class="col s6 m2 l2">
      <h7>$6.00 pp</h7>
    </div>
  </div>
  <br />
  <div class="row valign-wrapper">
    <div class="col s7">
      <h5>Soup Service</h5>
    </div>
    <div class="col s1"></div>
    <!-- <div class="col s2">
      <h6>Side</h6>
    </div> -->
    <div class="col s4">
      <h6>15 - 8 oz cups</h6>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>Soup Crock</h6>
    </div>
    <div class="col m1 l1"></div>
    <!-- <div class="col s6 m2 l2">
      <h7>$3.00 pp</h7>
    </div> -->
    <div class="col s6 m4 l4">
      <h7>$50</h7>
    </div>
  </div>
  <br />

</div>
