<!-- <h1>Items</h1>
<% @items.each do |item| %>
  <h3><%= item.name %></h3>
  <h5><%= item.price%></h5>
  <h5><%= item.description %></h5>
<% end %> -->

<h1>Menu</h1>
<div>
  <div class="col s12">
    <h4>Soups</h4>
  </div>
  <div class="divider"></div>
  <div class="row">
    <div class="col s12 m6 l6">
      <h6>Soup du jour</h6>
    </div>
    <div class="col s6 m3 l3">
      <h7>Cup $3.25</h7>
    </div>
    <div class="col s6 m3 l3">
      <h7>Bowl $4.95</h7>
    </div>
  </div>
  <br />
  <div>
    <div class="row">
      <div class="col s6">
        <h4>Salads</h4>
      </div>
      <div class="col s3">
        <h6>Half</h6>
      </div>
      <div class="col s3">
        <h6>Whole</h6>
      </div>
    </div>
    <div class="divider"></div>
  </div>
</div>
