<!-- <h1>Items</h1>
<% @items.each do |item| %>
  <h3><%= item.name %></h3>
  <h5><%= item.price%></h5>
  <h5><%= item.description %></h5>
<% end %> -->

<h1>Menu</h1>
<div>
  <div class="row valign-wrapper">
    <div class="col s7">
      <h5>Soup</h5>
    </div>
    <div class="col s1"></div>
    <div class="col s2">
      <h6>Cup</h6>
    </div>
    <div class="col s2">
      <h6>Bowl</h6>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>Soup du jour</h6>
    </div>
    <div class="col m1 l1"></div>
    <div class="col s6 m2 l2">
      <h7>$3.25</h7>
    </div>
    <div class="col s6 m2 l2">
      <h7>$4.95</h7>
    </div>
  </div>
  <br />
  <div>
    <div class="row valign-wrapper">
      <div class="col s7">
        <h5>Salads</h5>
      </div>
      <div class="col s1"></div>
      <div class="col s2">
        <h6>Side</h6>
      </div>
      <div class="col s2">
        <h6>Full</h6>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>Nutty Flora - mixed spring greens, sweet red grapes, red onion, smoked gouda, and candied walnuts w/ Robin's cherry vinaigrette</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.50</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.50</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Papa - mixed spring greens, artichoke hearts, tomatoes, black olives, sweet red onions, and marinated mushrooms w/ balsamic vinaigrette</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.50</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.50</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>Salad de Chef Robin - mixed spring greens, turkey, ham, tomato, cucmber, red onion, swiss cheese, and hard boiled egg w/ choice of dressing</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$6.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$8.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The C.O.B.A.L.T. Salad - mixed spring greens, marinated chicken breast, red onion, bacon, avocado, tomato, and provolone cheese w/ choice of dressing</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$6.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$8.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Caprese Salad - fresh basil leaves, mozzarella, and tomato w/ Robin's balsamic vinaigrette</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$6.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$8.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s6 m8">
        <h6>Add Chicken</h6>
      </div>
      <div class="col s6 m4">
        <h6>$1.75</h6>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s6 m8">
        <h6>Add Avocado</h6>
      </div>
      <div class="col s6 m4">
        <h6>$1.00</h6>
      </div>
    </div>
  </div>
  <br />
  <div>
    <div class="row valign-wrapper">
      <div class="col s7">
        <h5>Sandwiches</h5>
      </div>
      <div class="col s1"></div>
      <div class="col s2">
        <h6>Half</h6>
      </div>
      <div class="col s2">
        <h6>Whole</h6>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Heritage - A tribute to Robin's Italiano Daddy! - Genoa salami, mortadella, Cappicola ham, melted provlone, red onions, sweet roasted red peppers, tomato, lettuce, and a homemade olive spread on sourdough (great with bacon!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$6.25</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$8.25</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Madam - Just like Robin's daughter... pure attitude! - roasted turkey breast, tomato, melted provlone, lettuce, bacon, and Robin's ranch on ciabatta</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Gouda Smoker - on the menu due to intense customer pressure! - roasted turkey breast, bacon, tomato, lettuce, melted smoked gouda, and Robin's garlic/BBQ spread on ciabatta (great with avocado!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$6.25</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$8.25</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Gobbler - a year-round reason to be thankful! - roasted turkey breast, melted provlone, lettuce, avocado, mayo, and Robin's homemade cranberry spread on ciabatta (great with bacon!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Robin - it's hard to perfect a classic, but she's done it! - pastrami, dijon, sauerkraut, dill pickle, and thousand island and swiss on marble rye (perfect just as is!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The SINK - well, everything-but, anyway! - black forest ham, tomato, avocado, sweet roasted red pepper, lettuce, red onion, mayo, and honey dijon and melted cheddar on honey whole wheat</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Not-So Average Joe - it's quit the over-achiever! - medium roast beef, tomato, red onion, lettuce, melted cheddar, and Robin's homemade chipotle spread on sourdough (great with avocado!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.75</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.75</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Big Dipper - some are French, ours are heaven-sent! - medium roast beef, mayo, and melted swiss cheese, served w/ au jus (just ask for horseradish!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Cowboy - saddle-up this one's got kick! - medium roast beef, tomato, red onion, pickle, lettuce, mayo, melted swiss cheese, and sun-dried tomato horseradish spread on marbled rye (great w/ bacon and/or avocado!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Aloha Oink - a taste of Hawaiian paradise in Utah! - black forest ham, lettuce, melted provolone, mayo, and spicy homemade pineapple salsa on ciabatta (great w/ bacon!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.75</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.75</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The New Yorker - a taste of Hawaiian paradise in Utah! - black forest ham, lettuce, melted provolone, mayo, and spicy homemade pineapple salsa on ciabatta (great w/ bacon!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Natural - the grand slam of veggies! - portabello mushrooms, sweet roasted red peppers, artichoke hearts, red onion, spinach, melted provolone, and roasted garlic spread on ciabatta (great with avocado and/or extra cheese!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.75</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.75</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Flower Child - for those who just wish they could remember Haight and Ashbury! - avocado, tomato, red onion, olives, lettuce, melted swiss, and ranch on honey wheat (great w/ portabello!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$4.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$6.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Yummy Hummy - a vegan's  dream come true! - avocado, fresh cucumber, tomato, red onion, radish sprouts, and Robin's homemade hummus on ciabatta (great w/ spinach!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.75</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.75</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Caprese - the colors of the Italian flag, so delicious! - fresh basil leaves, mozzarella, and tomato, w/ Robin's balsamic vinaigrette on ciabatta (make it a Sicilian kiss w/ salami!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Egg-Straordinaire - eggceptionally speggtacular! - Robin's homemade egg salad, green peppers, red onion, lettuce, and melted cheddar, on wheat (great w/ bacon!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Oinkity-Doink - as yummy as the nephew it's named after! - black forest ham, tomato, swiss, mayo, lettuce, and honey dijon on honey wheat (make it a club w/ turkey and avocado!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.50</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.50</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The C.O.B.A.L.T. - couldn't offer a better addition to lunch than this! - marinated chicken breast, bacon, avocado, red onion, tomato, lettuce, provolone, and Robin's ranch on ciabatta</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$6.25</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$8.25</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Rooster Call - the sun rises and sets by this one that made us famous! - chicken salad (all white chicken, cashews, celery, red grapes, and mayo) red onion, provolone, and sweet honey dijon on ciabatta (make it a matty - add tomato!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.75</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.75</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Salsero Chicken - this sandwich makes you wanna dance! - lime-marinated chicken breast, avocado, red onion, lettuce, pepper-jack cheese, and Robin's special ranch-salsa on ciabatta</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.95</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.95</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Twisted Tuna - tuna with a twist, silly! - white chunk tuna, red onion, dill pickle, melted cheddar, and mayo sourdough (great w/ tomato!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.25</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.25</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Robin's Grill - comfort food at its best! - bacon, tomato, avocado, cheddar, provolone, and roasted garlic spread on sourdough (great w/ spinach!)</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.75</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.75</h7>
      </div>
    </div>
  </div>
</div>
