<!-- <h1>Items</h1>
<% @items.each do |item| %>
  <h3><%= item.name %></h3>
  <h5><%= item.price%></h5>
  <h5><%= item.description %></h5>
<% end %> -->

<h1>Menu</h1>
<div>
  <div class="col s12">
    <h5>Soups</h5>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s12 m7 l7">
      <h6>Soup du jour</h6>
    </div>
    <div class="col m1 l1"></div>
    <div class="col s6 m2 l2">
      <h7>Cup $3.25</h7>
    </div>
    <div class="col s6 m2 l2">
      <h7>Bowl $4.95</h7>
    </div>
  </div>
  <br />
  <div>
    <div class="row valign-wrapper">
      <div class="col s7">
        <h5>Salads</h5>
      </div>
      <div class="col s1"></div>
      <div class="col s2">
        <h6>Side</h6>
      </div>
      <div class="col s2">
        <h6>Full</h6>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>Nutty Flora - mixed spring greens, sweet red grapes, red onion, smoked gouda, and candied walnuts w/ Robin's cherry vinaigrette</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.50</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.50</h7>
      </div>
    </div>
    <div class="row valign-wrapper">
      <div class="col s12 m7 l7">
        <h6>The Papa - mixed spring greens, artichoke hearts, tomatoes, black olives, sweet red onions, and marinated mushrooms w/ balsamic vinaigrette</h6>
      </div>
      <div class="col m1 l1"></div>
      <div class="col s6 m2 l2">
        <h7>$5.50</h7>
      </div>
      <div class="col s6 m2 l2">
        <h7>$7.50</h7>
      </div>
    </div>
  </div>
</div>
