<nav>
  <div class="nav-wrapper grey">
    <div class="container">
      <a href="/">The Robin's Nest</a>
      <ul id="nav-mobile" class="right hide-on-small-and-down">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Main Menu', items_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Catering Menu', catering_path %></li>
      </ul>
    </div>


  </div>
</nav>
